body{
  background-color: lightgreen;
}
.titulo{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: lightblue;
}
.card-img-top{

  position: relative;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 300px;
}
.card-img-roy{
  position: relative;
  width: 460px;
  height: 250px;
  align-content: center;
}
.box-img-roy{
  text-align: center;
}
.name{
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: lightblue;
}
.download{
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: blue;
}
.b-Home{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: yellow;
}
.b-Resume{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: green;
}
.b-Portfolio{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: blue;
}
.b-Contacts{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: grey;
}
.b-Feedback{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: orange;
}
.b-Blog{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: red;
}
.subtitulo{
  background-color: lightblue;
  font-weight: bold;
}
p{
  background-color: lightpink;
}
.lista{
  background-color: lightpink;
}
.definicion{
  font-size: 12px;
}
.col{
  background-color: lightpink;
}

.gridus{
  padding-top: 25px;
  padding-bottom: 25px;
}
.cv{
  padding-top: 25px;
  padding-bottom: 25px;
}
.pinfo{
  padding-top: 25px;
  padding-bottom: 25px;
}
.val{
  padding-top: 25px;
  padding-bottom: 25px;
}
.modern{
  padding-top: 25px;
  padding-bottom: 25px;
}
.simple{
  padding-top: 25px;
  padding-bottom: 25px;
}
.responsive{
  padding-top: 25px;
  padding-bottom: 25px;
}
